
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(1, 75, 55);
    
    
}
 /* HEADER 
 header{
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 0rem;
    background-color: white;
    border-bottom:  3px solid black;
    border-top: solid black;
    position: sticky; 
    top: 0;
    overflow: hidden;
}
header nav{
    width: 90%;
   
    margin:auto;
   
}
.header-menu{
    list-style-type:none;
    text-align: center;
}
.header-menu li{
    display: inline-block;
    margin: 1rem 2rem;
    
}*/
   


/* nav */
.nav-link { 
    text-decoration:none; color:rgb(2, 132, 101);
    font-size: x-large;
    font-style: italic; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;  
}
.navbar{
    border-bottom:  3px solid black;
    border-top: solid black;
    
}
.navbar-toggler{
    color:rgb(2, 132, 101) ;
}
.logo-img{ 
    width: 160px;
    height: 70px;
    padding: 1px 40px;
    line-height: 80px;
}
.logo-img:hover{
    width: 190px;
    height: 80px;

}

/* FOOTER */
.footer{ 
    display: flex; 
    background-color: white;
    padding:1rem 5rem; 
    border-top: solid black;   
}
.footer-img{ 
    width: 160px;
    height: 70px;
    padding: 1px 40px;
    line-height: 80px;
}
.logo-social{ 
    width:30px;
    height: 30px;
    transition: all 1s;  
} 
.logo-social:hover{
    width: 40px;
    height: 40px;
}


/* index */
.main-info{
    text-align: center; 
    justify-content: center;
}  
.main-info div{ 
    display: inline-block;
}
.index-letras{   
    color: white;
    font-style: italic; 
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}
#index-gw{
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}
.index-img{ gap:5rem;
}
.main-img:hover{
    height: 280px;
    width:500px ;    
}

/* CONTACTO */
#main_contacto{
    padding: 100px;
      
 }
.contactos-general{  
    width:auto;
    height: auto;
    text-align: center;
    color: white;
    font-style: italic; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#boton-enviar{
    border-top-style: groove;
}
#contacto{ 
    font-weight:bold;
    font-size: x-large; 
    text-align: center; 
}

/* SERVICIOS */

.card-title{
    color: black;
    font-weight:bold;
    font-size: x-large; 
    text-align: center;    
}
.card{width: 90%;}


/* GALERIA */
.galeria{
    font-style: italic; 
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
#galeria-portada{
    text-align: center;
}
.cont-img{ 
    width: 90%;
    max-width: 1100%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
}
.cont-img .img-caja figure{
    width: 100%;
    height: 100%;
}
.cont-img .img-caja img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.cont-img .img-caja:nth-child(1){
    grid-column-start: span 2;
}
.cont-img .img-caja:nth-child(4){
    grid-row-start: span 2;
}
.cont-video{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 70%;
    max-width: 1100%;
    margin: auto;
    padding: 5px;
}
.cont-video .video-caja iframe{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.cont-video .video-caja figure{
    width: 100%;
    height: 100%;
}
.main-galeria { 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: white;
    
    
}

/* NOSOTROS */

.main-nosotros{
    display: grid;
    grid-template-rows: 200px 500px;
   
    grid-template-areas:"parrafo"
                        "foto";
    width: 90%;
    max-width: 1000px;
    margin: 1em auto;
    gap: 1.6em;
}
.parrafo-nosotros{
    grid-area: parrafo;
    color: white;
    text-align: center; 
    font-style: italic; 
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}
#gw-nos{
    justify-content: center;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}
.foto1{
    grid-area: foto1;
    width: 90%;
}

.f1{
    width: 100%;
    height: 90%;
    justify-content: center;    
}

/* media  */
@media only screen  and  (max-width:768px) {
    /* header nav footer */
   
  
}

    @media only screen and  (max-width:480px) {
        .nav{width: 100%;
        }
         .index-img {width: 80%;
        }
        /* servicios */
        .card{width: 90%;
           }
           /* galeria */

        
    }
        

    





   