// contacto

#main_contacto {
    padding: 100px;

}

.contactos-general {
    width: auto;
    height: auto;
    text-align: center;
    color: white;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#boton-enviar {
    border-top-style: groove;
}

#contacto {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}