  
/* nav */
.navbar{
    border-bottom:  3px solid black;
    border-top: solid black;
    
    .navbar-toggler{
        color:$fondoynav-link; ;
    }
    .nav-link { 
        text-decoration:none; color:$fondoynav-link;;
        font-size: x-large;
        font-style: italic; 
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight:bold; 
        &:hover{ font-size: xx-large;
        }
    }
}

.logo-img{ 
    width: $anchologo;
    height: $altologo;
    padding: 1px 40px;
    line-height: 80px;
    &:hover{
        width: 190px;
        height: 80px;
    }
}

/* FOOTER */
.footer{ 
    display: flex; 
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding:1rem 5rem; 
    border-top: solid black; 
    .footer-img{ 
        @extend .logo-img,
    }  
    .logo-social{ 
        width:30px;
        height: 30px;
        transition: all 1s;  
     
        &:hover{
        width: 40px;
        height: 40px;
        }
    }
    h5{
        text-transform: uppercase;
        font-weight: 700;
    }
}


